<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title></title>
  </head>
  <body>
    {{>header}}
    <p>This site was created by Amadou.It uses data from mapbox.com and darksky.com</p>

    {{>footer}}
  </body>
</html>
